@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background-color: #F1F1F1;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;

}

.logged_out_navbar {
   margin-left: 0px !important;
   width: 100vw !important;
}


.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    margin-right: 1em;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}


@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #FFF;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;

  }

  #search-input {
    width: 80% !important;

  }

  .navbar-collapse li {
    margin-left: 2em;
  }
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-height: 100vh;
    min-width: 17vw;
    max-width: 17vw;
    background: #1D4766;
    color: #aaa;
    transition: all 0.3s;
    z-index: 100;
}

#sidebar.active {
    min-width: 7vw;
    max-width: 7vw;
    text-align: center;
}

#sidebar.active .sidebar-header h3 {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a, #sidebar ul li button {
    text-align: left;
    color: #AAA;
}

#sidebar.active ul li a, #sidebar.active ul li button {
    padding: 13px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a, #sidebar.active ul ul button {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before{
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1D4766;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a, #sidebar ul li button {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}


#sidebar ul li a:hover, #sidebar ul li button:hover {
    color: #BF0323;
    background: #ddd;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"], #sidebar ul li.active > button,  button[aria-expanded="true"]{
    color: black;
    background: #FFF;
}

a[data-toggle="collapse"], button[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

.mark-all-notifications[aria-expanded="false"]::before, .mark-all-notifications[aria-expanded="true"]::before {
  content: unset !important;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a, ul ul button{
    font-size: 0.9em !important;
    padding-left: 40px !important;
    background: #eee;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.account-menu {
  min-width: 13em;
}

.navbar-original {
  height: 7vh !important;
  margin: 0;
  padding: unset;
  margin-left: 17vw;
  width: calc(100vw - 17vw);
  z-index:2;
}

.navbar-original.active {
  width: calc(100vw - 7vw);
  margin-left: 7vw !important;
}

#sidebarCollapse {
  margin-right: 1em;
  margin-left: 1em;
}

#sidebar.active #sidebarCollapse{
  margin-right: unset;
}
#sidebar.active .navbar-header {
  width: 80px;
}

.user-dropdown a{
  background: unset;
  padding-left: 15px !important;
  margin: 5px 0px;
}

.user-dropdown {
  height: 7vh;
}
.account-menu{
  height: 7vh;
  padding: 15px !important;
  margin: 0 !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    position: relative;
    margin-top: 7vh;
    width: 100vw;
    min-height: 93vh;
    transition: all 0.3s;
}

.profile {
  min-height: 93vh;
}

.alert {
  margin-top: 1em;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1000px) and (min-width: 769px) {
  .navbar-original {
    width: calc(100vw - 20vw);
    margin-left: 20vw !important;
  }

  .navbar-#original.active{
    width: 94vw;
    margin-left: 6vw !important;
  }

  #sidebar {
      min-width: 20vw;
      max-width: 20vw;
      text-align: center;
  }

}

@media (max-width: 768px) {
  #sidebar #sidebarCollapse{
    margin-right: unset;
  }

  #sidebar .navbar-header {
    width: 20vw;
  }

  #sidebar ul li > a, a[aria-expanded="true"], #sidebar ul li > button,  button[aria-expanded="true"]{
      color: #4285f4;
      background: #e3e3e3;
  }

  #sidebar ul li a, #sidebar ul li button {
      padding: 20px 10px;
      text-align: center;
      font-size: 0.85em;
  }

  #sidebar ul li a i {
      margin-right:  0;
      display: block;
      font-size: 1.8em;
      margin-bottom: 5px;
  }

  #sidebar ul ul a, #sidebar ul ul button {
      padding: 10px !important;
  }

  #sidebar a[aria-expanded="false"]::before, #sidebar a[aria-expanded="true"]::before{
      top: auto;
      bottom: 5px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
  }

  #sidebar {
      min-width: 25vw;
      max-width: 25vw;
      text-align: center;
  }

  #sidebar .sidebar-header h3 {
      display: none;
  }

  #sidebar .sidebar-header strong {
      display: block;
  }


  .navbar-original {
    width: calc(100vw - 25vw);
    margin-left: 25vw !important;
  }

  #sidebar.active {
    display: none;
  }

  .navbar-original.active{
    width: 100vw;
    margin-left: 0 !important;
  }
}



/* ---------------------------------------------------
    DASHBOARD STATES
----------------------------------------------------- */

.ticketcolumns {
  padding-left: 10px;
  padding-right: 10px;
}

.state-row {
  margin-top: 1vh;
  display: inline-flex;
  width: -webkit-fill-available;
}

.edit-row {
  width: -webkit-fill-available;
}

.row {
  margin: unset;
}

.editState-row{
  float: right;
  margin-top: 0.5em;
}

.editBtn-State, .deleteBtn-State, .editState-row {
  display: none;
}

.ticket-headers, .ticket-headers-bottom {
  text-align: center;
}

.ticket-footer .dropdown-toggle, .ticket-headers .dropdown-toggle {
  border : none;
  background: transparent;
  color: rgba(0,0,0,0.6);
}

.ticket-headers .dropdown-toggle {
  line-height: 2.5em;
  margin-right: 0.5em;
}

.ticket-headers-slim {
   height: 2.5em;
   background-color: #087E8B;
   margin-right: 1em;
}


.ticket-headers-slim h5 {
  color: white;
}

.individual-state-column {
  width: -webkit-fill-available;
}

.ticket-column {
  margin-bottom: 4vh;
  min-height: 50vh;
  background-color: #FFF;
  margin-right: 1em;
  padding-top: 0.5vh;
  min-height: 100%;
}

.ticket-column form {
  display: inline;
}

.ticket-headers h5, .ticket-headers-bottom h5 {
  margin: unset;
  display: inline;
}

.ticket-headers-bottom h5 {
  line-height: 2.5em;
}

.board-btn, .board-btn-group button, .board-btn:hover{
  font-size: 25px;
  background-color: unset;
  border-color: transparent;
  padding: 0;
}

.board-btn-group button {
  margin-top: 17px;
}

.board-btn:hover {
  cursor:auto;
}

.in-progress-header {
  margin-left: unset;
  margin-right: 0.2em;
  height: 2.5em;
  background-color: #ADD8E6
}

/* ---------------------------------------------------
    TICKET CSS
----------------------------------------------------- */
.unique-ticket {
  cursor: pointer;
  background-color: #fff;
  margin-left: 2vh;
  margin-right: 2vh;
  border:1px solid #ccc;
  margin-top: 1.5vh;
}
.unique-ticket .ticket-name {
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  line-height: 1.3em;
}

.Critical {
  border-left: 4px solid #c91818;
}

.High {
  border-left: 4px solid lightblue;
}

.Medium {
  border-left: 4px solid #2F4F4F;
}

.Low {
  border-left: 4px solid #FFA07A;
}

.ticket-body {
  min-height: 7vh;
  margin: 0px 7px;
  margin-top: 4px;
}

.ticket-footer {
  margin-right: 7px;
}

.ticket-icon {
  position: relative;
  left: 1px;
  top: 1px;
}


/* ---------------------------------------------------
    TICKET DETAIL CSS
----------------------------------------------------- */
.ticket-detail-field{
  display: inline;
}

.ticket-detail-field-label, #general-settings .form-group label{
  min-width: 10em;
}

.edit-ticket-detail .form-group{
  margin-bottom: 10px;
}

.edit-ticket-detail .form-control {
  display: unset;
  width: 15em;
}

.ticket-detail-row hr{
  margin-top: unset;
  margin-bottom: 10px;
  border-top: 1px solid #CCC;
}

#state-settings .list-group-item {
  cursor: pointer;
}

/* ---------------------------------------------------
    DRAGULA CSS
----------------------------------------------------- */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.ui-autocomplete {
  z-index:2147483647;
}


/* ---------------------------------------------------
    LOGIN AND REGISTER CSS
----------------------------------------------------- */

.login-dark {
  background-color:#475d62 !important;
  background-size:cover;
  position:relative;
}

.fa-sign-in {
  color: white;
}

.login-dark form {
  max-width:320px;
  width:90%;
  background-color:#1e2833;
  padding:40px;
  border-radius:4px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#2980ef;
}

.login-dark form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}

.login-dark form .btn-primary {
  background:#214a80;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background:#214a80;
  outline:none;
}

.login-dark form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity:1;
  text-decoration:none;
}

.login-dark form .btn-primary:active {
  transform:translateY(1px);
}

/* ---------------------------------------------------
    TICKET LIST CSS
----------------------------------------------------- */
.ticketTableColumn {
  padding-right: 1em;
}

.ticketTable {
  width: -webkit-fill-available;
}


/* ---------------------------------------------------
    BOARD SETTINGS CSS
----------------------------------------------------- */
.board-settings {
  margin-top: 3vh;
}

.hidden-setting{
  display: none;
}

.display-setting{
  display: block;
}

.state form, #editTicketRow form{
  margin-top: 0;
  display: unset;
}

.state form button, .dropdown-menu button {
  padding: 0;
  border-color: unset;
  border-style: unset;
  border-width: 0;
}

.state form button {
  font-size: 17px;
}

.dropdown-menu button {
  padding: 3px 20px !important;
}

.state-button-row {
  margin-top: 2em;
  margin-bottom: 1em;
}

.page-heading .btn {
  padding: 0;
}

.page-heading button {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
}

.btn-edit-board {
  font-size: 12px;
  padding: 3px 6px;
}

.heading button {
  margin-top: 20px;
  margin-right: 5em;
}

#general-settings .form-control{
  display: inline-block;
  width:auto;
}
#general-settings {
  margin-top: 0em;
}
#general-settings p {
  display: inline;
}

#general-settings form {
  display: inline;
}

/* ---------------------------------------------------
    SEARCH RESULT CSS
----------------------------------------------------- */
.push-down {
  margin-top: 3em;
}

#search-results h3 {
  -webkit-margin-before: 0;
}

#search-results .glyphicon {
  top: 2px;
}

#search-results a {
  color: #0000EE;
}

#search-results hr {
  border-top: 1px solid #BBB;
}

#search-results a:hover {
  text-decoration: underline;
}

#project_name_form input{
  width: 20em;
  display: inline-block;
}

.board-dropdown {
  margin-top: 0px !important;
}

.filterRow {
  margin-top: 3em;
}

.quarter-circle {
  float:left;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 100% 0;
  width: 25px;
  height: 25px;
}

.Critical .quarter-circle {
  background-color: #c91818;
}

.High .quarter-circle {
  background-color: lightblue;
}

.Medium .quarter-circle {
  background-color: #2F4F4F;
}

.Low .quarter-circle {
  background-color: #FFA07A;
}

.mark-all-notifications {
  padding: 0px !important;
  margin: 10px 20px !important;
  margin-top: 1.4em !important;
}

.mark-all-notifications[data-badge]:after{
  content:attr(data-badge);
  position:absolute;
  top:-10px;
  right:-10px;
  font-size:.7em;
  background:green;
  color:white;
  width:18px;height:18px;
  text-align:center;
  line-height:18px;
  border-radius:50%;
  box-shadow:0 0 1px #333;
}
