{%  extends 'UI/user/base.html' %}

{% block content %}

<div class= "row">
  <div class="col-md-2" style = "background-color: green; height: 90vh;">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </div>
  </div>
  <div class = "col-md-10" style = "background-color: blue; height: 90vh;">
  </div>
</div>
{% endblock %}
