{%  extends 'UI/base.html' %}
{% block content %}
<div class="col-sm-12" style="padding-left: 0px; padding-right:0px;">
  <div class="wrapper">
    <div class="col-xs-2">
      {% include 'UI/sidebar.html' %}
    </div>
    <div class = "col-xs-10 content ticketcolumns" style = "background-color: #E0DFD5">
      <div class ="row">
      <!--Draggable DIV:-->
        <div class="col-xs-3 container ticket-column" id="BL">
          <h3> In the backlog</h3>
          {% if tickets %}
            {% for ticket in tickets %}
              {%  if ticket.state == 'BL' %}
                <div class ="unique-ticket" style="background-color: #fff;" id = {{ticket.id}}> {{ ticket.name }} </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
        <div class="col-xs-3 container ticket-column" id="DEV">
          <h3> In Development</h3>
          {% if tickets %}
            {% for ticket in tickets %}
              {%  if ticket.state == 'DEV' %}
                <div class ="unique-ticket" style="background-color: #fff;" id = {{ ticket.id }}> {{ ticket.name }} </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
        <div class="col-xs-3 container ticket-column" id="TEST">
          <h3> Ready for testing</h3>
          {% if tickets %}
            {% for ticket in tickets %}
              {%  if ticket.state == 'TEST' %}
                <div class ="unique-ticket" style="background-color: #fff;" id = {{ ticket.id }}> {{ ticket.name }} </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
        <div class="col-xs-3 container ticket-column" id="C">
          <h3> Completed</h3>
          {% if tickets %}
            {% for ticket in tickets %}
              {%  if ticket.state == 'C' %}
                <div class ="unique-ticket" style="background-color: #fff;" id = {{ ticket.id }}>
                  <a href="#"> {{ ticket.name }} </a>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button style="width: 1em;" type="button" class="close cancelUpdate" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="ui-widget" style="width:300px;">
            <input id="myInput" type="text" name="myCountry" placeholder="Assigned to">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancelUpdate" data-dismiss="modal">Cancel</button>
        <button id="update" type="button" class="btn btn-primary" onclick="updateClubdays(this)">Update</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
