{%  extends 'UI/base.html' %}

{% block content %}
{% include 'UI/sidebar.html' %}
<div id="content">
  <div class="container">
    <div class= "row ticket-title">
      {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
      <div class="heading">
        <h2>{{ticket.short_name}} - {{ ticket.name }}</h2>
      </div>
      <div id="editTicketRow">
        <button id="editTicket" onclick="changeToInputFields()" class="btn btn-default">Edit <span class='glyphicon glyphicon-pencil'></span></button>
        <button id='saveTicket' onclick='saveEdit()' class='btn btn-default'>Save <span class='glyphicon glyphicon-ok'></span></button>
        <button id='cancelEditTicket' onclick='changeToTextFields()' class='btn btn-default'>Cancel <span class='glyphicon glyphicon-remove'></span></button>
        <form action="{% url 'delete_ticket' id=ticket.pk %}" method="POST">
          {% csrf_token %}
          <button onclick="return confirm('Are you sure you want to delete the ticket?')"type="submit" class="btn btn-default">Delete</button>
        </form>
        <a href="#comment" class="btn btn-default"><span class="glyphicon glyphicon-comment"></span> Comment</a>
      </div>
    </div>
    <div class="row ticket-detail-row">
      <h4> Details </h4>
      <hr></hr>
    </div>
    <form id="edit-form" action="{% url 'ticket_detail' slug=ticket.pk %}" method="POST">
    <div class="row">
        {% csrf_token %}
        <div class="col-xs-6 edit-ticket-detail">
          <div class="form-group">
            <label class="ticket-detail-field-label">Title</label> <p id="ticket-name" class="ticket-detail-field field-text">{{ ticket.name }}</p>
            <input name="ticket_name" id="ticket_name" class='form-control input-field' type='text' value='{{ticket.name}}'>
            <br>
          </div>
          <div class="form-group">
            <label class="ticket-detail-field-label">Type</label> <p class="ticket-detail-field field-choice">{{ ticket.get_type_display }}</p>
            <select name="ticket_type" id="ticket_type" class="form-control input-field" id="sel1">
              {% for k, v in type_choices %}
                <option {% if ticket.type == k %} selected {% endif %}>{{ v }}</option>
              {% endfor %}
            </select>
            <br>
          </div>
          <div class="form-group">
            <label class="ticket-detail-field-label" >Priority</label> <p class="ticket-detail-field field-choice">{{ ticket.get_priority_display }}</p>
            <select name="ticket_priority" id="ticket_priority" class="form-control input-field" id="sel1">
              {% for k, v in priority_choices %}
                <option {% if ticket.priority == k %} selected {% endif %}>{{ v }}</option>
              {% endfor %}
            </select>
            <br>
          </div>
          <div class="form-group">
            <label class="ticket-detail-field-label">Status</label> <p class="ticket-detail-field field-choice">{{ ticket.get_state_display }}</p>
            <select name="ticket_state" id="ticket_state" class="form-control input-field" id="sel1">
              {% for state in states %}
                <option {% if ticket.state == state.short_name %} selected {% endif %}>{{ state.name }}</option>
              {% endfor %}
            </select>
            <br>
          </div>
        </div>
        <div class="col-xs-6 edit-ticket-detail">
          <div class="form-group">
            <label class="ticket-detail-field-label">Assigned To</label> <p class="ticket-detail-field field-text">{% if ticket.assigned_to %}{{ticket.assigned_to}}{% else %}Unassigned{% endif %}</p>
            <input name="ticket_assigned_to" id="ticket_name" class='form-control input-field' type='text' value='{% if ticket.assigned_to %}{{ ticket.assigned_to}}{% else %}Unassigned{% endif %}'>
            <br>
          </div>
          <div class="form-group">
            <label class="ticket-detail-field-label">Created On</label> <p class="ticket-detail-field immutable">{{ ticket.created_on }} (UTC)</p><br>
          </div>
          <div class="form-group">
            <label class="ticket-detail-field-label">Last Updated</label> <p class="ticket-detail-field immutable">{{ ticket.last_modified }} (UTC)</p><br>
          </div>
          <div class="form-group">
            <label class="ticket-detail-field-label">Created by</label> <a href="/{{ ticket.created_by.username }}"class="ticket-detail-field immutable">{{ ticket.created_by.get_full_name }}</a><br>
          </div>
        </div>
    </div>
    <div class="row ticket-detail-row">
      <h4> Description </h4>
      <hr></hr>
    </div>
    <div class="row">
      <div class="form-group">
        {% if ticket.description %}
          <p id="description" class="ticket-detail-field"> {{ ticket.description }} </p>
        {% else %}
          <p class="ticket-detail-field"> No description added</p>
        {% endif %}
      </div>
      <textarea name="description" id="description" class="form-control input-field">{{ticket.description}}</textarea>
    </div>
  </form>


    <div class="row ticket-detail-row">
      <h4>Comments</h4>
      <hr></hr>
    </div>
      <form method="POST" action="{% url 'add_comment' pk=ticket.pk %}">
        {% csrf_token %}
      <div class="row">
        <textarea id="comment" name="comment" class="form-control" rows="5" placeholder="Add comment" required></textarea>
      </div>
      <button type="submit" class="btn btn-default">Post</button>
    </form>
    <div id = "comment-section" class ="row">
      {% for comment in comments %}
      <div id = "{{ comment.id }}" name = "article" class="">
        <div class="panel panel-info">
          <div class="panel-body">
            <div class = "col-md-11">
              <p> {{ comment.content }}</p>
              <p> by {{ comment.user }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  $('.input-field').hide()
  $('#saveTicket').hide()
  $('#cancelEditTicket').hide()
})


</script>
{% endblock %}
