{%  extends 'UI/base.html' %}

{% block content %}
{% include 'UI/sidebar.html' %}

<div id="content" class="container">
  <div class="row page-heading">
    <div class="col-xs-12">
      {% if message %}
        <div class="alert alert-success">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Success!</strong>  {{ message }}
        </div>
      {% elif error %}
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Something went wrong!</strong>  {{ error }}
        </div>
      {% endif %}
      <div class="btn-group board-btn-group" style="float: left">
        <a class="btn btn-default board-btn">
          <h2 class="selection">
            {% if boards %}
              {% for board in boards %}
                {% if request.session.active_board|add:0 == board.id %}
                  Configure {{ board.title }}
                {% endif %}
              {% endfor %}
            {% endif %}
          </h2>
        </a>
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          {% if boards %}
            {% for board in boards %}
              <li  {% if request.session.active_board|add:0 == board.id %} class="active" {% endif %}><a href="{% url 'update_board_display' pk=board.id %}?next={{ request.path|urlencode }}">{{ board.title }}</a></li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="row col-xs-12">
    <hr style="border-color: grey">
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li class="active"><a id='general-settings-tab' data-attribute="General" href="#General" onclick="javascript:changeSettingTab(this)">General Settings</a></li>
        <li><a id='states-tab' data-attribute="States" href="#States" onclick="javascript:changeSettingTab(this)">States</a></li>
      </ul>
    </div>
  </div>

  <div id="general-settings" data-tab="General" class="board-settings settings display-setting">
    <div class="col-xs-12">
      <div class="row state-button-row">
        <button id="editBoard" onclick="changeToInputFields()" class="btn btn-default">Edit <span class='glyphicon glyphicon-pencil'></span></button>
        <button id='saveBoard' onclick='saveEdit()' class='btn btn-default'>Save <span class='glyphicon glyphicon-ok'></span></button>
        <button id='cancelEditBoard' onclick='changeToTextFields()' class='btn btn-default'>Cancel <span class='glyphicon glyphicon-remove'></span></button>
        <form  method="POST" action="{% url 'delete_board' %}">
          {% csrf_token %}
            <button {% if active_board.default %} disabled data-toggle="tooltip" data-placement="top" title="The default board cannot be deleted." {% endif %} type="button" onclick="return confirm('Are you sure you want to delete the board?')" class="btn btn-default">Delete Board</button>
        </form>
      </div>
      <form id="edit-form" method="POST" action="{% url 'displayBoardSettings' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="inputName">Board Name:</label>
          <p class="board-detail-field" data-id="{{active_board.pk }}" data-value="{{active_board.title}}" style="display: inline;">{{ active_board.title }}
          </p>
          <input name="board_title" class="form-control input-field" type="text" value="{{ active_board.title }}">
        </div>
        <div class="form-group">
          <label for="inputName">Board Owner:</label>
          <p class="board-detail-field" style="display: inline;">{{ active_board.owner }}
          </p>
          <input name="board_owner" class="form-control input-field" type="text" value="{{ active_board.owner }}">
        </div>
      </form>
    </div>
  </div>

  <div id="state-settings" data-tab="States" class="board-settings settings hidden-setting">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-md-10 description">
          Drag and drop the list below to reorganise the order of the states as they appear on your dashboard. Additionally, if you
          feel that your default board is missing an essential state, you can add it yourself.
          <br/><br>
          <strong>Warning.</strong> Deleting a state from the default project board will also delete the corresponding state in all other boards of the project.
        </div>
      </div>
      <div class="row state-button-row">
        <div class='col-xs-12'>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Add new/existing state
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li class="dropdown-header">New States</li>
              {% if active_board.default == False %}
                <li class="disabled"><a href="#" data-toggle="tooltip" data-placement="top" title="A brand new state must be added to the default project board first">Add new state</a></li>
              {% else %}
                <li><button onclick="javascript:openNewStateModal()">Add new state</button></li>
              {% endif %}
                {% if missing_states %}
                <li class="divider"></li>
                <li class="dropdown-header">Existing States</li>
                  {% for state in missing_states %}
                    <li data-name="{{state.short_name}}"><button onclick="copyNewState('{{state.name}}', '{{state.short_name}}', {{state.pk}})">{{state.name}}</button></li>
                  {% endfor %}
                {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="row col-xs-12">
        <div class="form-group">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">States</h3>
              </div>
              <ul class="list-group" id="state-list">
                {% if states %}
                  {% for state in states %}
                  <div data-id="{{ state.pk }}"class="list-group-item state">
                    <span style="margin-right: 1em;" class="glyphicon glyphicon-th"></span>
                    {{ state.short_name }} - {{ state.name }}
                    <form class="delete-state" method="POST" action="{% url 'delete_state' slug=state.short_name %}">
                      <button type="submit" style="float:right"> &times;</button>
                      {% csrf_token %}
                    </form>
                  </div>
                  {% endfor %}
                {% endif %}
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="newStateModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button style="width: 1em;" type="button" class="close dismiss-modal" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New State</h4>
      </div>
      <div class="modal-body col-xs-5 col-xs-offset-1">
        <div class="form-group">
          <label for="assigned_to">State name:</label>
          {{ form.name }}
        </div>
      </div>
      <div class="modal-body col-xs-5">
        <div class="form-group">
          <label for="assigned_to">State descriptor:</label>
          {{ form.short_name }}
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-xs-10 col-xs-offset-1" style="padding-right: 5px;">
          <button type="button" class="btn btn-default dismiss-modal" data-dismiss="modal">Cancel</button>
          <button type="submit" onclick="addNewStateRow()" class="btn btn-primary">Add New State</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('.input-field').hide()
    $('#saveBoard').hide()
    $('#cancelEditBoard').hide()
  })

  var currentLocation = window.location;
  {% if next == "#States" %}
    document.getElementById('states-tab').click()
  {% else %}
    if(currentLocation.hash == "#States"){
      document.getElementById('states-tab').click()
    }
    else{
      document.getElementById('general-settings-tab').click()
    }
  {% endif %}
  $('[data-toggle="tooltip"]').tooltip();
  var x = document.getElementsByClassName("list-group");
  dragula(Array.from(x), {})
            .on('drop', function (el, target, source) {
              updateOrderOfStates()
            })
</script>
{% endblock %}
