{%  extends 'UI/base.html' %}
{% block content %}
{% include 'UI/sidebar.html' %}
<div id="content">
  <div class = "col-xs-12 content">
    <form class="form-horizontal" method="POST" action="{% url 'user_project_settings' %}">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-12">
          <h2 class="details-header">Project Collaborators</h2>
          {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Collaborators</h3>
              </div>
              <ul class="list-group">
                {% if data %}
                  {% for user in data %}
                  <div class="list-group-item">
                    <a href="{% url 'view_user_profile' slug=user.username %}">{{ user.username }}</a>
                    {% if request.session.is_owner %}
                    <a style="float: right;" href="{% url 'remove_user_from_project' slug=user.username %}">X</a>
                    {% endif %}
                  </div>
                  {% endfor %}
                {% endif  %}
              </ul>
              <div class="panel-heading">
                <form action="{% url 'user_project_settings' %}" method="post">
                  <label style="display: block">Search for users by username, full name or email address </label>
                  <input class="form-control" id="txtUser" name="txtUser" placeholder="Search" style="width:70%; display: inline;"/>
                  <button type="submit" class="btn btn-default" style="display: inline">Add collaborator</button>
                </form>
              </div>
              <script>
              // Get the <datalist> and <input> elements.
              var dataList = document.getElementById('datalist');
              var input = document.getElementById('txtUser');
              function createAutocompleteList(){
                $.ajax({
                  type: 'GET',
                  url: '/api/users/',
                  data: {
                    'name' : $('#txtUser').val,
                  },
                  success: addSource,
                  dataType: 'json',
                })
                return false;
              }
              function addSource(){
              }
              </script>
          </div>
        </div>
      </div>
      <hr/>
    </form>
  </div>
</div>
{% endblock %}
