{%  extends 'UI/base.html' %}

{% block content %}
{% include 'UI/sidebar.html' %}
<div id="content">
  <div class= "row new_project">
    <div class ="container new_project">

      <div class="heading">
        <h2>Create a new project</h2>
        <p class="heading-description">A project contains all the initial settings needed. Participants can be added manually later or through the automated invitation system.</p>
      </div>
      {% if message %}
        <div class="alert alert-success">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Success!</strong>  {{ message }}
        </div>
      {% endif %}
      <hr></hr>

    <form action="{% url 'new_project' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="form-group">
            <label for="inputName">Project Title</label>
            {{ form.name }}
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="form-group">
            <label for="Description">Description</label>
            {{ form.description }}
          </div>
        </div>
      </div>
      <hr></hr>
      <div class="form-group">
        <div class="radio">
          <label><input type="radio" id="private" name="private" onchange="valueChanged(this)"><strong>Private</strong></label><br><label>You choose who can see and contribute to this project.</label>
        </div>
        <div class="radio">
          <label><input type="radio" id="public" name="public" checked onchange="valueChanged(this)"><strong>Public</strong></label><br><label>Any logged in user can see this project and request to become a participant.</label>
        </div>

      </div>
      <script>
        function valueChanged(element){
          if(element.id == "private"){
            var ele = $("#public")
            ele[0].checked = false
          }
          else{
            var ele = $("#private")
            ele[0].checked = false
          }
        }
      </script>
      <hr></hr>
      <div class="text-left">
        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-saved"></i> Create</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}
