{%  extends 'UI/base.html' %}

{% block content %}
<div class= "row new_project">
  <div class ="container">
    {% if message %}
      <div class="alert alert-success"><strong>Success!</strong>  {{ message }}</div>
    {% endif %}
    <div class="heading">
      <h2>Create a new project</h2>
      <p class="heading-description">A project contains all the initial settings needed. Participants can be added manually later or through the automated invitation system.</p>
    </div>
    <hr></hr>

  <form action="{% url 'new_project' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label for="inputName">Project Title</label>
          {{ form.name }}
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label for="Description">Description</label>
          {{ form.description }}
        </div>
      </div>
    </div>
    <hr></hr>
    <div class="form-group">
      <div class="radio">
        <label><input type="radio" name="optradio" checked><strong>Public</strong></label><br><label>Any logged in user can see this project and request to become a participant.</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio"><strong>Private</strong></label><br><label>You choose who can see and contribute to this project.</label>
      </div>
    </div>
    <hr></hr>
    <div class="text-left">
      <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-saved"></i> Create</button>
    </div>
  </form>
  </div>
</div>
{% endblock %}
