{%  extends 'UI/base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
{% include 'UI/sidebar.html' %}
<div id="content">
  <div class="row">
    <div class="tasklist">
      <div style="overflow-y: scroll; height:93vh; background-color: black;">
        <a href = "{% url 'new_ticket_view' %}"class="btn btn-default" type="submit">New task</a>
        {% if tickets %}
          <div class="ticket container">
            {% if table %}
              {% render_table table %}
            {% else %}
              <p>Hello</p>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
