{%  extends 'UI/base.html' %}
{% block content %}
<div class= "row">
  <div class="col-xs-12">
    <div class="wrapper">
      <div class ="col-xs-2">
        {% include 'UI/sidebar.html' %}
      </div>
      <div class = "col-xs-10 content search">
        <div class="col-xs-3">
          <div class="panel panel-default search-categories">
            <div class="panel-heading">
              <h3 class="panel-title">Category</h3>
            </div>
            <ul class="list-group">
              <a class="list-group-item" href="#">
                <p style="color: black; display: inline"> Users </p>
                <p style="float: right; display: inline" >8</p>
              </a>
              <a class="list-group-item" href="#">
                <p style="color: black; display: inline"> Projects </p>
                <p style="float: right; display: inline" >8</p>
              </a>
            </ul>

          </div>
        </div>
        <div class="col-xs-9">
          <div id = "search-results">
            <div class="row">
              <h3>7,123 results</h3>
              <hr/>
            </div>
            <div class="row">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
