<li>
  <p class="navbar-btn">
    <a href="{% url 'new_project' %}" class="btn btn-primary">Create New Project</a>
  </p>
</li>
<li class="dropdown user-dropdown">
  <a class="dropdown-toggle account-menu" data-toggle="dropdown" aria-expanded="false" href="#"> <span class="glyphicon glyphicon-user"></span> {{ request.user.username}}</a>
  <ul class="dropdown-menu">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="{% url 'view_user_profile' slug=request.user.username %}">Profile</a></li>
    <li><a href="{% url 'user_logout' %}">Sign out</a></li>
  </ul>
</li>
