{% load static %}

<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta id="myViewport" name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Project Facilitate</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href='{% static "css/NewStyles.css" %}'>
      <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css'>
      <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.css'>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://use.fontawesome.com/19e158ee1c.js"></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src='{% static "js/ajax.js" %}'></script>
      <script src='{% static "js/javascript.js" %}'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.js'></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
      <link rel="stylesheet" href='{% static "css/bootstrap-multiselect.css" %}'>
      <script src='{% static "js/bootstrap-multiselect.js" %}'></script>
  </head>
  <body>
    <div class="wrapper">
      <nav class="navbar navbar-original navbar-default navbar-fixed-top {% if request.get_full_path == "/" or not request.user.is_authenticated %} logged_out_navbar {% endif %}" >
        <div class="container-fluid">
          <div class="navbar-header">
            {% if request.get_full_path == "/" or not request.user.is_authenticated %}
              <a class="navbar-brand" href="/">FACILITATE</a>
            {% else %}
              <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                  <i class="glyphicon glyphicon-align-center"></i>
              </button>
            {% endif %}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <ul class="nav navbar-nav">
              <li id="search-input" style="width: 30vw;">
              <form class="navbar-form" method="GET" action="{% url 'search' %}">
                <div class="input-group">
                  <input size="60" id="search_query" type="text" class="form-control" placeholder="Search Facilitate" name="query">
                    <div class="input-group-btn">
                      <button id="search-btn" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_authenticated %}
                {% include 'UI/navbars/logged_in_navbar.html' %}
              {% else %}
                {% include 'UI/navbars/logged_out_navbar.html' %}
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      {% block content %}
      {% endblock %}
    </div>
    {% if request.user.is_authenticated %}
      <script src='{% static "js/example.js" %}'></script>
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('.navbar-original').toggleClass('active');
            });
            var width = $( window ).width()
            if( width < 700) {
              var mvp = document.getElementById('myViewport');
              $(mvp).remove()
            }
        });


    </script>
  </body>
</html>
