{% extends 'UI/base.html' %}
{% block content %}
<div id="content" class="login-dark">
  {% if error %}
  <div class="alert alert-danger">
    <strong>Oh snap!</strong> {{ error }}.
  </div>
  {% elif message %}
  <div class="alert alert-success">
    <strong>Success!</strong> {{ message }}.
  </div>
  {% endif %}
  <form method="post" action=" {% url 'forgotten_password' %}">
    {% csrf_token %}
    <h2 class="sr-only">Forgotten Password Form</h2>
    <div class="illustration"><i class="fa fa-sign-in"></i></div>
    <p> Did you forget your password? Enter your email below and we will send you a link to create a new password. </p>
    <div class="form-group">
      <input type="textbox" class="form-control" name = "email" placeholder="Email Address">
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit">Send</button>
    </div>
  </form>
</div>
{% endblock %}
