{% extends 'UI/base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">JIRA Software</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <hr class="my-4">
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/register" role="button">Try it now!</a>
    </p>
  </div>
</div>

{% endblock %}
