{% extends 'UI/base.html' %}
{% block content %}

<div id="content" class="login-dark">
  {% if error %}
  <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Danger!</strong> {{ error }}
  </div>
  {% endif %}
  <form method="post" action=" {% url 'register_index' %}">
    {% csrf_token %}
    <h2 class="sr-only">Signup Form</h2>
    <div class="illustration"><i class="fa fa-sign-in"></i></div>
    {% for field in form.visible_fields %}
    <div class = "errors">
      {{ field.errors }}
    </div>
    <div class="form-group">
      {{ field }}
    </div>
    {% endfor %}
    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
    </div>
    <a href="{% url 'user_login' %}" class="forgot">Already registered? Click here to log in</a>
  </form>
</div>
{% endblock %}
