{% extends 'UI/base.html' %}
{% block content %}
<div id="content" class="login-dark">
  {% if error %}
  <div class="alert alert-danger">
    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
  </div>
  {% elif message %}
  <div class="alert alert-success">
    <strong>Success!</strong> {{ message }}.
  </div>
  {% endif %}
  <form method="post" action="{% url 'reset_password' slug=slug %}">
    {% csrf_token %}
    <h2 class="sr-only">Forgotten Password Form</h2>
    <div class="illustration"><i class="fa fa-sign-in"></i></div>
    <p> Enter your new password here </p>
    <div class="form-group">
      <input type="password" class="form-control" name = "password" placeholder="********">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name = "confirm_password" placeholder="********">
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit">Send</button>
    </div>
  </form>
</div>
{% endblock %}
