<nav id="sidebar" class ="col-xs-2">
    <div class="sidebar-header">
        <h4>Manage your project</h4>
    </div>
    <ul class="list-unstyled components">
      <li>
          <a id = "project-dropdown" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Projects</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            {% if projects %}
              {% for project in projects %}
                <li>
                  <a href="{% url 'project_index' pk=project.id %}">{{ project.name }}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
      </li>
    </ul>
    <ul class="list-unstyled components">
        <li class="active">
            <a href="/dashboard/">Dashboard</a>
        </li>
        <li>
            <a href="{% url 'dashboard_ticket_view' %}">Tasks</a>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Stats</a>
        </li>
        <li>
          {% if request.session.is_owner %}
            <button onclick="location.href='{% url 'project_settings' %}';">Settings</button>
          {% else %}
            <button disabled>Settings</button>
          {% endif %}
        </li>
    </ul>
</nav>
