<nav id="sidebar">
    <div class="navbar-header" style="float: right">
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-align-center"></i>
        </button>
    </div>
    <br>
    <div class="sidebar-header">
        <h3>Project Application</h3>
        <strong>PA</strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="glyphicon glyphicon-home"></i>
                Projects
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              {% if projects %}
                {% for project in projects %}
                  <li>
                    <a href="{% url 'project_index' pk=project.id %}">{{ project.name }}</a>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
        </li>
    </ul>
    <ul class ="list-unstyled components">
        <li><a href='/dashboard/'>Dashboard</a></li>
        <li><a href="{% url 'dashboard_ticket_view' %}">Tasks</a></li>
        <li><a href="{% url 'displayBoardSettings' %}" >Boards</a></li>
        <li><a href="{% url 'upload_files' %}">Files</a></li>
        <li><a href="{% url 'displayCalendar' %}">Calendar</a></li>
        {% if request.session.is_owner == True %}
          <li><a href="{% url 'project_settings' %}">Settings</a></li>
        {% endif %}
    </ul>
</nav>
