<nav id="sidebar" class ="col-xs-2">
    <div class="sidebar-header">
        <h4>Manage your project</h4>
    </div>
    <ul class="list-unstyled components">
      <li>
          <a id = "project-dropdown" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Projects</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            {% if projects %}
              {% for project in projects %}
                <li>
                  <a href="{% url 'project_index' pk=project.id %}">{{ project.name }}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
      </li>
    </ul>
    <ul class="list-unstyled components">
        <li class="active">
          <button {% if request.session.active_project is Not %} disabled {% else %} onclick="location.href='/dashboard/'" {% endif %}>Dashboard</button>
        </li>
        <li>
          <button {% if request.session.active_project is Not %} disabled {% else %} onclick="location.href='{% url 'dashboard_ticket_view' %}';" {% endif %}>Tasks</button>
        </li>
        <li>
          <button {% if request.session.active_project is Not %} disabled {% else %} onclick="location.href='{% url 'project_settings' %}';" {% endif %}>Boards</button>
        </li>
        <li>
          <button {% if not request.session.is_owner or request.session.active_project is Not %} disabled {% else %} onclick="location.href='{% url 'project_settings' %}';" {% endif %}>Settings</button>
        </li>
    </ul>
</nav>
